main{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
    color: rgba(255,255,255,0.92)
}

.container {
    padding: 15px
}

p {
    font-size: 20px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #191919
}