main{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
    color: rgba(255,255,255,0.92)
}

#timer {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 30px;
    margin: zero;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: #191919
}